.container {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.itemContainer {
  position: relative;
  margin-right: 20px;
  scroll-snap-align: center;
}

.backPannel {
  margin-top: -32px;
  width: calc(100vw - 20px);
  height: 60px;
  background-color: var(--item-bg-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 7px;
}

.pic {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: var(--border-radius);
}
