.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  padding-left: 7px;
  background-color: var(--bg-color);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.transparent {
  background: none;
}
