.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  padding-left: 7px;
  background-color: var(--bg-color);
  align-items: center;
  position: fixed;
  top: 0;
}

.profilePic {
  align-self: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tip {
  width: 57px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border: none;
}

.tip svg {
  fill: white;
  height: 28px;
}

.hidden {
  visibility: hidden;
}

.icon {
  width: 1.3rem;
  fill: white;
}

.title {
  width: 100%;
}
